<div class="col-md-12" style="color: white;">
    <button type="button" class="btn btn-sm btn-primary float-right my-2"  (click)="openAddDialog()"><i class="fas fa-plus"></i> Thêm mới</button>
  </div>
  <table class="table table-bordered table-hover mt-5 ">
      <thead class="thead-light">
        <tr>
          <th scope="col" sortable="code" style="width: 5%;" >Number</th>
          <th scope="col" sortable="name" style="width: 5%;" >Name</th>
          <th scope="col" sortable="orderIndex"style="width: 5%;"  >Identity Card</th>
          <th scope="col" sortable="orderIndex"style="width: 5%;"  >License Driver</th>
          <th scope="col" sortable="effectFrom"style="width: 5%;" >Type License Driver</th>
          <th scope="col" sortable="effectTo"style="width: 5%;"  >Address</th>
          <th scope="col" sortable="effectTo"style="width: 5%;"  >Date Of Birth</th>
          <th scope="col" sortable="effectTo"style="width: 5%;"  >Seniority</th>
          <th scope="col" style="width: 10%;" >Action</th>
          
        </tr>
      </thead>
  
      <ng-container
      *ngIf="page != null && page != undefined && listDriver != null && listDriver != undefined">
      <tbody>
          <tr *ngFor="let item of listDriver; let i = index;">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.identityCard}}</td>
          <td>{{item.licenseDriver}}</td>
          <td>{{item.typeLicenseDriver}}</td>
          <td>{{item.address}}</td>
          <td>{{item.dateOfBirth}}</td>
          <td>{{item.seniority}}</td>
          <td>
            <div >
              <button type="button" class="btn btn-sm btn-info" style="margin-right: 10px;"  (click)="openViewSalaryDialog(item)"> <i class="fas fa-edit"></i> View Salary</button>
              <button type="button" class="btn btn-sm btn-info" style="margin-right: 10px;"  (click)="openEditDialog(item)"> <i class="fas fa-edit"></i> Edit</button>
              <button type="button" class="btn btn-sm btn-warning" style="color: white;" (click)="openConfirmDialog(item.id)">  <i class="fas fa-trash-alt"></i> Delete</button>
              
             
            </div>
            
          </td>
        </tr>
      </tbody>
      </ng-container>
    </table>
    <div class="d-flex justify-content-start" *ngIf="listDriver != undefined && listDriver != null">Have {{listDriver.length}} / {{page.totalElements}} record</div>
    <div class="d-flex justify-content-end" *ngIf="page != null && page != undefined && listDriver != null && listDriver != undefined">
      <ngb-pagination 
          [collectionSize]="listDriver.length"  
          [(page)]="currentPage"
          [pageSize]="page.pageSize"
          [maxSize]=5
          (pageChange) = "goToPage($event)"
      ></ngb-pagination>
  </div>
  