<div class=" listview main">

    <div class="row">
        <div class="col-md-12" style="padding: 15px;">
            <div>

                <div class="module-page1">
                    <div class="page-inner" style="background-color: white;">
                        <h1 style="font-weight: bolder;">Driver management</h1>

                        <app-driver-search
                            (search)="searchDriver($event)"
                            
                        ></app-driver-search>



                        <app-driver-list 
                            [page]="pageOfListDriver$ | async" 
                            [listDriver]="listDriver$ | async"
                            (changePage)="goToPage($event)"
                            (openDialog)="openDialog($event)"
                            (confirmDelete)="deleteDriver($event)"
                        >
                        </app-driver-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>