<div class="cat-form" >
    <h1 mat-dialog-title class="text-center">{{title}}</h1>
  <div mat-dialog-content style="padding-top: 5px;">
  
  
      <form method="POST" [formGroup]="form" id="frm" name="frm" (ngSubmit)="save(form)">
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">First Location : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control  form-control-sm"    formControlName="firstLocation"  >
          </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Last Location : </label>
            <div class="col-sm-10">
              <input type="text" class="form-control  form-control-sm"    formControlName="lastLocation"  >
            </div>
          </div>
          <input type="hidden"    formControlName="id"  >

          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Length : </label>
            <div class="col-sm-10">
              <input type="number" class="form-control  form-control-sm"    formControlName="length"  >
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Complexity : </label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" id="complexityId"  formControlName="complexityId"  name="complexityId">
                    <option value="" selected hidden>---Choose complexity---</option>
                    <option value="1" >Mức độ 1</option>
                    <option value="2" >Mức độ 2</option>
                </select>
            </div>
          </div>
  
      </form>
  
  
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button type="submit" class="btn btn-sm btn-primary" mat-button form="frm"> <i class="fas fa-save"></i> {{btn}}    </button>
    <button mat-button class="btn btn-sm btn-warning" style="color: white;" mat-dialog-close ><i class="fas fa-arrow-left"></i>  Return</button>
  </div>
  </div>
  
  
