<div class="col-md-12" style="color: white;">
    <button type="button" class="btn btn-sm btn-primary float-right my-2"  (click)="openAddDialog()"><i class="fas fa-plus"></i> Thêm mới</button>
  </div>
  <table class="table table-bordered table-hover mt-5 ">
      <thead class="thead-light">
        <tr>
          <th scope="col" sortable="code" style="width: 1%;" >Number</th>
          <th scope="col" sortable="name" style="width: 4%;" >Code</th>
          <th scope="col" sortable="orderIndex"style="width: 6%;"  >Number Guest</th>
          <th scope="col" sortable="orderIndex"style="width: 5%;"  >Price</th>
          <th scope="col" sortable="orderIndex"style="width: 5%;"  >Main Driver</th>
          <th scope="col" sortable="orderIndex"style="width: 7%;"  >Salary Main Driver</th>
          <th scope="col" sortable="orderIndex"style="width:6%;"  >Support Driver</th>
          <th scope="col" sortable="orderIndex"style="width: 7%;"  >Salary Sup Driver</th>
          <th scope="col" sortable="orderIndex"style="width: 5%;"  >Coach</th>
          <th scope="col" sortable="orderIndex"style="width: 5%;"  >Route</th>
          <th scope="col" sortable="orderIndex"style="width: 5%;"  >Date</th>
          <th scope="col" sortable="effectFrom"style="width: 5%;" >Status</th>
          <th scope="col" style="width: 8%;" >Action</th>
        </tr>
      </thead>
  
      <ng-container
            *ngIf="page != null && page != undefined && listTrip != null && listTrip != undefined">
      <tbody>
          <tr *ngFor="let item of listTrip; let i = index;">
          <td>{{i+1}}</td>
          <td>{{item.code}}</td>
          <td>{{item.numberGuest}}</td>
          <td>{{item.price}}</td>
          <td>{{item.mainDriver.name}}</td>
          <td>{{item.salaryMainDriver | currency}}</td>
          <td>{{item.supDriver.name }}</td>
          <td>{{item.salarySupDriver | currency}}</td>
          <td>{{item.coach.licensePlate}}</td>
          <td>{{item.route.id}}</td>
          <td>{{item.date}}</td>
          <td>{{item.status}}</td>
          <td>
            <div >
              <button type="button" class="btn btn-sm btn-info" style="margin-right: 10px;"  (click)="openEditDialog(item)"> <i class="fas fa-edit"></i> Edit</button>
              <button type="button" class="btn btn-sm btn-warning" style="color: white;" (click)="openConfirmDialog(item.id)">  <i class="fas fa-trash-alt"></i> Delete</button>
              
             
            </div>
            
          </td>
        </tr>
      </tbody>
      </ng-container>
    </table>
    <div class="d-flex justify-content-start" *ngIf="listTrip != undefined && listTrip != null">Have {{listTrip.length}} / {{page.totalElements}} record</div>

    <div class="d-flex justify-content-end" *ngIf="page != null && page != undefined && listTrip != null && listTrip != undefined">
      <ngb-pagination 
          [collectionSize]="listTrip.length"  
          [(page)]="currentPage"
          [pageSize]="page.pageSize"
          [maxSize]=5
          (pageChange) = "goToPage($event)"
      ></ngb-pagination>
  </div>
  