<table class="table table-bordered table-hover mt-5 ">
    <thead class="thead-light">
      <tr>
        <th scope="col" sortable="code" >Number</th>
        <th scope="col" sortable="name">License plate</th>
        <th scope="col" sortable="orderIndex" >Manufacturer</th>
        <th scope="col" sortable="orderIndex" >Model</th>
        <th scope="col" sortable="effectFrom">Seat number</th>
        <th scope="col" sortable="effectTo" >Last Date Maintenance</th>
      </tr>
    </thead>


    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <!-- <ngb-pagination 
        [collectionSize]="areasImportingData.length"  
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [maxSize] = 5
        (pageChange) = "goToPage($event)"
    ></ngb-pagination> -->
</div>
