<div class="cat-form" >
    <h1 mat-dialog-title class="text-center">View Detail Coach</h1>
  <div mat-dialog-content style="padding-top: 5px;">
  
    <div class="row">
            <div class="col-md-1">
                <label for="fromDate">Date: </label>
            </div>
            <div class="col-md-8 form-inline">

                <input type="date" name="lastDateMaintenanceFrom" formControlName="lastDateMaintenanceFrom" class="form-control form-control-sm"
                    id="lastDateMaintenanceFrom">

                <label for="toDate" class="mx-3">To</label>

                <input type="date" name="lastDateMaintenanceTo" formControlName="lastDateMaintenanceTo" class="form-control form-control-sm"
                    id="lastDateMaintenanceTo">
            </div>
    </div>
         
          <table class="table table-bordered table-hover mt-5 ">
            <thead class="thead-light">
              <tr>
                <th scope="col"  style="width: 7%;" >License driver</th>
                <th scope="col"  style="width: 5%;" >Name </th>
                <th scope="col" style="width: 10%;" >Number of main driver</th>
                <th scope="col"  style="width: 10%;" >Number of support driver </th>
                <th scope="col"  style="width: 10%;" >Month </th>
                <th scope="col"  style="width: 10%;" >Salary </th>
                
                
              </tr>
            </thead>
        

            <tbody>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        
  
  
  
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button mat-button class="btn btn-sm btn-warning" style="color: white;" mat-dialog-close ><i class="fas fa-arrow-left"></i>  Return</button>
  </div>
  </div>
  
  
