<div class="cat-form" >
    <h1 mat-dialog-title class="text-center">{{title}}</h1>
  <div mat-dialog-content style="padding-top: 5px;">
  
  
      <form method="POST" [formGroup]="form" id="frm" name="frm" (ngSubmit)="save(form)">

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Code  : </label>
            <div class="col-sm-10">
              <input type="text" class="form-control  form-control-sm"    formControlName="code"  >
            </div>
          </div>

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Price : </label>
            <div class="col-sm-10">
              <input type="number" class="form-control  form-control-sm"    formControlName="price"  >
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Route : </label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" formControlName="route" *ngIf="listRoute != null && listRoute != undefined"      name="status">
                    <option value="" selected hidden>---Choose---</option>
                    <ng-container *ngFor="let route of listRoute">
                      <option  [value]="route.id" >{{route.id}}</option>
                    </ng-container>
                </select>
            </div>
          </div>


          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Number guest : </label>
            <div class="col-sm-10">
              <input type="number" class="form-control  form-control-sm"    formControlName="numberGuest"  >
            </div>
          </div>

   
          <input type="hidden"    formControlName="id"  >


          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Coach : </label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" formControlName="coach" (change)="chooseCoach($event)"  *ngIf="listCoach != null && listCoach != undefined"  name="status">
                    <option value="">---Choose---</option>
                    <ng-container *ngFor="let coach of listCoach">
                      <option  [value]="coach.id" >{{coach.licensePlate}}</option>
                    </ng-container>

                </select>
            </div>
          </div>
          
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Main Driver : </label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" formControlName="mainDriver" (change)="changeMainDriver($event)" *ngIf="listDriver != null && listDriver != undefined"      name="status">
                    <option value="" selected hidden>---Choose---</option>
                    <ng-container *ngFor="let driver of listMainDriver">
                      <option  [value]="driver.id" >{{driver.name}}</option>
                    </ng-container>
                </select>
            </div>
          </div>


          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Support Driver : </label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" formControlName="supDriver" (change)="changeSupDriver($event)"  *ngIf="listDriver != null && listDriver != undefined"     name="status">
                    <option value="" selected hidden>---Choose---</option>
                    <ng-container *ngFor="let driver of listSupDriver">
                      <option  [value]="driver.id" >{{driver.name}}</option>
                    </ng-container>
                </select>
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Salary : </label>
            <div class="col-sm-10">
              <input type="number" class="form-control  form-control-sm"    formControlName="salary"  >
            </div>
          </div>


          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Status : </label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" id="status" formControlName="status"   name="status">
                    <option value="" selected hidden>---Choose---</option>
                    <option value="1" >Hiệu lực</option>
                    <option value="0" >Không hiệu lực</option>
                </select>
            </div>
          </div>

          
          <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Date : </label>
            <div class="col-sm-10">
              <input type="date" class="form-control  form-control-sm"    formControlName="date"  >
            </div>
          </div>
        
  
  
  
      </form>
  
  
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button type="submit" class="btn btn-sm btn-primary" mat-button form="frm"> <i class="fas fa-save"></i> {{btn}}    </button>
    <button mat-button class="btn btn-sm btn-warning" style="color: white;" mat-dialog-close ><i class="fas fa-arrow-left"></i>  Return</button>
  </div>
  </div>
  
  
